.m-t-1{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    left:30px;
    top:20px;
    transform: rotate(45deg);
}


.m-t-2{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    left:90px;
    top:80px;
    transform: rotate(45deg);
}


.m-t-3{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    left:150px;
    top:140px;
    transform: rotate(45deg);
}


.m-t-4{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    left:210px;
    top:200px;
    transform: rotate(45deg);
}


.m-t-5{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    left:30px;
    top:140px;
    transform: rotate(45deg);
}


.m-t-6{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    left:90px;
    top:200px;
    transform: rotate(45deg);
}


.m-t-7{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    left:150px;
    top:20px;
    transform: rotate(45deg);
}


.m-t-8{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    left:210px;
    top:80px;
    transform: rotate(45deg);
}


.m-t-11{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    right:30px;
    top:20px;
    transform: rotate(45deg);
}


.m-t-22{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    right:90px;
    top:80px;
    transform: rotate(45deg);
}


.m-t-33{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    right:150px;
    top:140px;
    transform: rotate(45deg);
}


.m-t-44{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    right:210px;
    top:200px;
    transform: rotate(45deg);
}


.m-t-55{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    right:30px;
    top:140px;
    transform: rotate(45deg);
}


.m-t-66{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    right:90px;
    top:200px;
    transform: rotate(45deg);
}


.m-t-77{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    right:150px;
    top:20px;
    transform: rotate(45deg);
}


.m-t-88{
	width: 75px;
    height: 75px;
    position: absolute;
    background-color: #00aba9;
    right:210px;
    top:80px;
    transform: rotate(45deg);
}
